body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #337ab7;
}
#boton {
    background: red;
    float: left;
    position: absolute;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.imgAkinator{
    width:auto;
    height:auto;
}
.contenedorInicio{
    margin-top: 3%;
}

.jumbotron-fluid {
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    position: relative;
    height: 40vh;
}

.jumbotron-fluid .container-fluid {
    position: relative;
    z-index: 2;
}

.jumbotron-fluid .bg {
    background: url("../code.png") top center no-repeat;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: absolute;
    filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 1;
}

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
    margin-left: 45%;
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

    .button:before,
    .button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        background: var(--color);
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }

    .button:before {
        top: -25%;
        left: 20%;
    }

    .button:after {
        bottom: -25%;
        right: 20%;
    }

    .button:hover:before,
    .button:hover:after {
        transform: none;
    }


.img-CargarPers {
    margin: 0 auto;
    width: 15%;
    float: right;
    margin-top: -16%;
    margin-right: 12%;
}

.mid-form {
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 0;
    width: 50%;
}