
<div class="container">
    <div class="row row_main">


        <div class="col-md-8 col-sm-5 col-xs-4" id="game_content">
            <div class="row">

                <div id="div-overlay" class="col-md-12" style="display: none;">
                    <img src="/bundles/elokencesite/images/loader.svg?v95">
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="akinator">
                        <div class="akinator-body">
                            <img src="~/Content/Images/Personajes/default.png" width="604" height="988">
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-0 col-sm-12 col-sm-offset-7 col-xs-12 col-xs-offset-7">
                    <div class="bubble-question bubble">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="85" height="102"><polygon points="30,0 30,20 29,25 27,30 22,37 15,45 0,60 30,60 30,102 85,102 85,0"></polygon></svg>
                        <div class="bubble-tail"><p class="question-number">1</p></div>
                        <div class="bubble-body"><p class="question-text">@ViewBag.pregunta</p></div>
                    </div>
                    <div class="database-selection selector dialog-box">
                        <div style="top: 10.0144px; width: 220px; opacity: 0;"></div>
                        <ul>
                            <li>
                                @Html.ActionLink("Si", "eliminarSegunRespuesta", new { rta = "si"})
                            </li>
                            <li>
                                @Html.ActionLink("No", "eliminarSegunRespuesta", new { rta = "no" })
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>

        <div id="customModal" class="modal fade" role="dialog" data-backdrop="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-3 col-xs-2 col-xs-offset-3">
            <!-- Ezoic - banner_right - mid_content -->
            <span id="ezoic-pub-ad-placeholder-102"></span><span style="display:block !important;float:none !important;margin-bottom:15px !important;margin-left:0px !important;margin-right:0px !important;margin-top:15px !important;min-height:250px;min-width:300px;text-align:center !important;" class="ezoic-ad banner-2 adtester-container adtester-container-102" data-ez-name="akinator_com-banner-2"><span id="div-gpt-ad-akinator_com-banner-2-0" ezaw="300" ezah="250" style="position: relative; z-index: 0; min-height: 250px; min-width: 300px;" class="ezoic-ad ezfound" data-google-query-id="CKnHrMuH2OUCFWQKwwodgIMPtg"><div id="google_ads_iframe_/21732118914/akinator_com-banner-2_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/21732118914/akinator_com-banner-2_0" title="3rd party ad content" name="google_ads_iframe_/21732118914/akinator_com-banner-2_0" width="300" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;" data-google-container-id="f" data-load-complete="true"></iframe></div></span></span>
            <!-- End Ezoic - banner_right - mid_content -->
        </div>
    </div>
</div>

<script>
    function enviar_rta() {
        $.ajax({
            url: Accion("AccionResult", "Controller"),
            type: "POST",
            dataType: "json",
            data: { concepts: addConcepts() },
            success: function () {
            }
        });
    }
</script>